@use "@angular/material" as mat;
@include mat.core();

$primary-palette: (
  50: #f8e0e4,
  100: #edb3bc,
  200: #e1808f,
  300: #d54d62,
  400: #cc2640,
  500: #c3001e,
  600: #bd001a,
  700: #b50016,
  800: #ae0012,
  900: #a1000a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);
// made the accent color as  the logo plus color
$accent-palette: (
  50: #e0f0eb,
  100: #b3d9ce,
  200: #80c0ad,
  300: #4da68c,
  400: #269373,
  500: #00805a,
  600: #007852,
  700: #006d48,
  800: #00633f,
  900: #00502e,
  A100: #83ffbf,
  A200: #50ffa5,
  A400: #1dff8a,
  A700: #03ff7d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warn-palette: (
  50: #f6e0e4,
  100: #e7b3bc,
  200: #d88090,
  300: #c84d63,
  400: #bc2641,
  500: #b00020,
  600: #a9001c,
  700: #a00018,
  800: #970013,
  900: #87000b,
  A100: #ffb3b6,
  A200: #ff8085,
  A400: #ff4d53,
  A700: #ff343b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$my-app-primary: mat.define-palette($primary-palette, 500, 300, 900, 500);
$my-app-accent: mat.define-palette($accent-palette, 500, 300, 900);
$my-app-warn: mat.define-palette($warn-palette);
$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include mat.all-component-themes($my-app-theme);
